cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333

.lang_arabic
	.about_heading
	.text_body
		text-align right
	.text_quote
		border-right 2px solid cl_green
		border-left 0
		color cl_green
		font-size 24px
		line-height 1.5
		font-family MT
		padding 0px 30px 0px 0px
		margin 0
		text-align right

.lang_arabic
	.about_heading
		text-align right
	
@media(min-width: 1210px)
	.about_heading
		font-size 50px
		
	.page_content
		background white
		padding 43px 20px 180px 20px
		margin-bottom -110px
		margin-top 30vh
		min-height calc( 75vh - 400px )
		.grid_container
			background white
			transform translateY(-25vh)
			max-width 700px
			padding 20px 50px
			margin 0 auto
			margin-bottom -30vh

	.about_img
		width 100%
		position relative
		margin-top 40px
		max-width 800px 
		
	.text_body
		font-size 16px
		line-height 30px
		
	.text_quote
		font-size 28px
		line-height 30px
		padding 0px 0 0px 50px
		margin-left -50px
		display block
		margin-top 25px
		margin-bottom 25px




