cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333

.page_content
	background white
	padding 20px 35px 80px 35px
	margin-bottom -105px
	min-height calc( 100vh - 190px )
	.grid_container
		max-width 400px
		margin 0 auto
	
.about_heading
	font-family MT
	font-size 27px
	line-height 1

.text_body
	font-size 15px
	line-height 18px
	
.text_quote
	border-left 2px solid cl_green
	color cl_green
	font-size 24px
	line-height 1.5
	font-family MT
	padding 0px 0 0px 30px
	margin 0
	
.about_img
	width 100%
	position relative
	margin-top 40px
	max-width 350px 
	margin-left auto
	margin-right auto
	display block
	
@media(min-width: 1210px)
	.about_heading
		font-size 50px
		
	.page_content
		background white
		padding 43px 20px 180px 20px
		margin-bottom -110px
		margin-top 30vh
		min-height calc( 75vh - 400px )
		.grid_container
			background white
			transform translateY(-25vh)
			max-width 700px
			padding 20px 50px
			margin 0 auto
			margin-bottom -30vh

	.about_img
		width 100%
		position relative
		margin-top 40px
		max-width 800px 
		
	.text_body
		font-size 16px
		line-height 30px
		
	.text_quote
		font-size 28px
		line-height 30px
		padding 0px 0 0px 50px
		margin-left -50px
		display block
		margin-top 25px
		margin-bottom 25px




