.analys_container.top_margin
	margin 0px
	padding 0
	max-height 0
	overflow hidden

.analys_content
	position relative
	max-height 0
	opacity 0
	text-align center
	padding 20px

.analys_container.visible
	margin-top 50px
	max-height 400px
	.analys_content
		position relative
		max-height 400px
		opacity 1
		

.spinner
	border-radius 50%
	animation example 2s infinite

@keyframes example {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
 
	
.analyzing_sign
	color cl_green
	font-size 40px
	font-family MT
	margin 20px 0
	padding 0
	line-height 1

.analyzing_sub_sign
	color white
	font-weight 800
	font-size 20px
	
.tip
	color cl_green
	font-size 15px
	margin 25px 0 15px 0
	
.tip_body
	color white
	font-size 12px
	
@media(min-width 1200px)
	.top_margin
		margin-top 40px

	.analys_content
		text-align center
		padding 20px

	.spinner
		border-radius 50%
		margin-bottom 20px
		&.rotation
			animation example 2s infinite

	@keyframes example {
	    0%   {transform: rotate(0deg);}
	    100% {transform: rotate(360deg);}
	}
	 
	.analyzing_sign
		color cl_green
		font-size 100px
		font-family MT
		margin 20px 0 30px 0
		padding 0
		line-height 1

	.analyzing_sub_sign
		font-size 30px
		
	.tip
		color cl_green
		font-size 30px
		margin 40px 0 25px 0

	.tip_body
		color white
		font-size 22px
		