cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333

.lang_arabic
	.branch_heading
		background-position 5% 19px
		text-align right
		padding-right 30px
		padding-left 0
	
.lang_arabic	
	.branch_parts
		padding-right 30px
		padding-left 0
		max-height 0
		overflow hidden
		transition all .3s
		text-align right
		direction rtl
		.branch_part 
			margin 15px 0 30px 0
			p 
				font-size 19px
				line-height 1.2
				margin 0
				span 
					font-weight 800
					display inline-block
					width 120px
				&.branch_name
					color cl_green
					font-weight 800
			a 
				cursor pointer
				display block
				margin-top 30px
				font-size 19px
				line-height 1.13
				text-decoration underline
	

.lang_arabic
	.about_heading
		text-align right
		
.lang_arabic		
	.active
		.branch_heading
			background-position 5% 23px
		.branch_parts
			max-height 3000px	


@media(min-width: 1210px)
	.lang_arabic
		.branch_heading
			background-size 12px
			background-position 5% 22px
			font-size 25px
			line-height 2.5
			
	.branch_parts
		.branch_part 
			margin 15px 0 30px 0
			p 
				font-size 16px
				line-height 1.4
				margin 0
				span 
					font-weight 800
					display inline-block
					width 120px
				&.branch_name
					color cl_green
					font-weight 800
					font-size 20px
			a 
				font-size 16px

	.active
		.branch_heading
			background-size 20px
			background-position 95% 27px
		.branch_parts
			max-height 2500px	


	