cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333

.branch_heading
	border 1px solid #030000
	background-image url(../img/branc_bg.png)
	background-size 8px
	background-repeat no-repeat
	background-position 95% 19px
	font-weight 800
	line-height 2.8
	font-size 18px
	padding-left 30px
	transition all .3s
	cursor pointer
	margin-bottom 3px
	&:hover
		background-image url(../img/branc_bgg.png)
		transition all .3s
		color cl_green
	
.branch_parts
	padding-left 30px
	max-height 0
	overflow hidden
	transition all .3s
	.branch_part 
		margin 15px 0 30px 0
		p 
			font-size 16px
			line-height 1.2
			margin 0
			span 
				font-weight 800
				display inline-block
				width 70px
			&.branch_name
				color cl_green
				font-weight 800
		a 
			cursor pointer
			display block
			margin-top 20px
			font-size 16px
			line-height 1.13
			text-decoration underline
			
.active
	.branch_heading
		border 1px solid #030000
		background-image url(../img/branc_bga.png)
		color cl_green
		background-size 15px
		background-repeat no-repeat
		background-position 96% 23px
	.branch_parts
		max-height 3000px	


@media(min-width: 1210px)
	.branch_heading
		background-size 12px
		background-position 95% 22px
		font-size 25px
		line-height 2.5
			
	.branch_parts
		.branch_part 
			margin 15px 0 30px 0
			p 
				font-size 16px
				line-height 1.4
				margin 0
				span 
					font-weight 800
					display inline-block
					width 70px
				&.branch_name
					color cl_green
					font-weight 800
					font-size 20px
			a 
				font-size 16px

	.active
		.branch_heading
			background-size 20px
			background-position 95% 27px
		.branch_parts
			max-height 2500px	


	