cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333


.lang_arabic
	.form_container.top_margin
		direction rtl
.lang_arabic	
	.text_heading
		text-align right

.lang_arabic	
	input[type="text"]
	input[type="password"]
		text-align right
.lang_arabic
	.custom_dropdown
		.dd_label
			background-position 10px 20px
		.dd_options	
			li 
				background-position 10px 7px
				&:hover
					background-position 10px 10px

.lang_arabic					
	.custom_dropdown.datalist 
		.dd_label
			background-image url(../img/dd_lense.png)
			background-position 10px 20px
	
.lang_arabic
	.checkboxes
		input[type="checkbox"] ~ label span 
			margin -3px 0px 0 10px
			
@media(min-width: 1210px)
		
	.lang_arabic
		.text_part
		.form_part
			display inline-block
			vertical-align top
			box-sizing border-box
			position relative
			text-align right
			margin 0
			
	.lang_arabic
		.text_part
			padding-right 0px
			text-align right
		
	.lang_arabic
		.form_part
			padding-left 0px
			padding-right 50px
			width 750px
			max-width 750px
			border-left 0
			border-right 2px solid cl_green
		
	.lang_arabic
		input[type="text"]
		input[type="password"]
			text-align right
			direction rtl
	
	.lang_arabic
		.input_group
			> *
				display inline-block 
				vertical-align top
				width 48%
				&:nth-child(2)
					margin-right 4%
					margin-left 0
		
	.lang_arabic
		.checkboxes
			input[type="checkbox"] ~ label span 
				margin -3px 0px 0 15px
			

			
