cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333

.form_container.top_margin
	max-height 0
	transition all .3s
	overflow hidden
	width 90%
	max-width 440px
	margin 0 auto
	display block

.form_container.visible.top_margin
	margin 40px auto 0 auto
	max-height none
	transition all .3s
	overflow visible
	
.claim_text
	display none
	
.claim_form
	box-sizing border-box
	padding 0 20px
	max-width 480px
	margin 0 auto

.text_heading
	color cl_green
	font-size 27px
	font-family MT
	line-height 1
	padding 0
	margin 0 0 20px 0

.text_abstract
	color white
	font-weight 4000
	
input[type="text"]
input[type="password"]
	border 0
	box-sizing border-box
	display block
	font-size 0
	position relative
	width 100%
	font-size 13px
	margin-bottom 10px
	margin-top 0
	outline none
	padding 8px 15px
	color cl_green
	
.checkbox_holder
	margin-top 12px
	margin-bottom 9px
	label 
		color white
		a
			color white
.claim_form
	input[type="submit"]
		border 0
		background none
		background-size contain
		background-repeat no-repeat
		background-image url(../img/claim_form.png)
		color white
		cursor pointer
		font-size 15px
		outline none
		padding 10px 61px
		transition all .3s
		&:hover 
			opacity .8

.big_white_text
.small_white_text
	color white
	font-size 17px
	
.small_white_text
	margin-bottom 40px

.vouchers
	list-style-type disc
	padding-left 30px
	color cl_green
	li 
		font-size 24px
		p 
			color white
			font-size 17px
			margin 0

.big_white_text
	font-weight 800
	
.material_input
	position relative
	label 
		position absolute 
		z-index 10
		bottom 10px
		color white
		transition all .3s
	input[type="text"] 
	input[type="password"]
		background none
		border-bottom 1px solid 
		color white
		margin-bottom 30px
		padding-left 0
		transition all .3s
	&.focused
		label 
			font-size 10px
			bottom 30px
		input[type="text"] 
		input[type="password"]
			color green
		
.checkboxes
	margin-bottom 25px
	input[type="checkbox"] 
		display none
	input[type="checkbox"] ~ label
		font-size 12px
		padding-top 2px
	input[type="checkbox"] ~ label span 
		display inline-block
		border 2px solid white
		width 12px
		height 12px
		left 10px
		margin -3px 10px 0 0px
		vertical-align middle
		transition all .3s
		background-size cover
		background-image url('../img/chb_un.png')
		cursor pointer
		&:hover 
			border 2px solid cl_green
	input[type="checkbox"] ~ label p
		display inline-block
		margin 0
		padding 0
		width calc( 100% - 30px)
 	input[type="checkbox"]:checked ~ label span 
		background-image url('../img/chb_ch.png')
		border 2px solid cl_green
		
.form_part
	.input_group
		a 
			transition all .3s
			&:hover 
				color cl_green
		
.submit_btn
	border 1px solid cl_green
	border-radius 5px
	box-sizing border-box
	background-image url(../img/submit_btn_check.png)
	background-repeat no-repeat
	background-position 53% -100%
	color white
	cursor pointer
	display block
	font-weight 800
	line-height 4
	margin 0 auto
	max-height 65px
	overflow hidden
	text-align center
	text-align cente
	width 260px
	transition all .3s
	&:hover
	&:focus
	&:active
		background cl_green
		background-image url(../img/submit_btn_check.png)
		background-repeat no-repeat
		background-position 53% 50%
		padding-top 60px
	
.custom_dropdown
	margin-top 33px
	margin-bottom 30px
	position relative
	&.datalist
		.dd_label
			background-image url(../img/dd_lense.png)
	.dd_label
		border-bottom 1px solid white
		padding-bottom 10px
		color white
		cursor pointer
		background-image url(../img/dd_arrow.png)
		background-repeat no-repeat
		background-size 16px
		background-position calc(100% - 10px) 20px
		padding 14px 0 9px 0
		height 18px
		position relative
		.dd_label_sign
			position absolute
			transition all .3s
			bottom 8px
		&.focused
			border-bottom 1px solid cl_green
			color green
			.dd_label_sign
				position absolute
				font-size 10px
				bottom 33px
				transition all .3s
				color white
	.dd_options	
		background white
		max-height 0px
		overflow hidden
		position absolute
		width 100%
		li 
			background-repeat no-repeat
			background-size 15px
			background-position calc(100% - 10px) 7px
			line-height 2.3
			cursor pointer
			transition all .3s
			padding 0 20px
			&:hover
				background-color cl_green
				background-image url(../img/check_arrow.png)
				background-repeat no-repeat
				background-size 15px
				background-position calc(100% - 10px) 10px
				color white
		&.visible
			padding 20px 0 20px 0
			margin-top 3px
			max-height 700px
	input
		position absolute
		z-index -100
		opacity 1	
		width 0
		height 0		
		
.tc_small_text
	margin-top -10px
	margin-bottom 40px
	display block
	font-size 12px
	color white
	
.error_message
	margin-top -20px
	margin-bottom 25px
	span	
		color #ad0000
		display none
		font-size 15px
	&.er1 span.error1
	&.er2 span.error2
	&.er3 span.error3
	&.er4 span.error4
	&.er5 span.error5
			display block
		
@media(min-width: 1210px)
	.form_container.top_margin
		width 100%
		max-width 1200px
		
	.claim_form
		width 100%
		max-width none
		padding 0
		font-size 0

	.claim_voucher
		text-align center
		
	.text_part
	.form_part
		display inline-block
		vertical-align top
		box-sizing border-box
		position relative
		text-align left
		margin 0
			
	.text_part
		width 450px
		padding-right 50px
		
	.form_part
		padding-left 50px
		width 750px
		max-width 750px
		border-left 2px solid cl_green
		

	.text_heading
		color cl_green
		font-size 40px
		font-family MT
		line-height 1
		padding 0
		margin 0 0 35px 0

	.text_abstract
		color white
		font-weight 400
		
	input[type="text"]
	input[type="password"]
		border 0
		box-sizing border-box
		display block
		font-size 0
		position relative
		width 100%
		font-size 16px
		margin-bottom 20px
		margin-top 0
		outline none
		padding 14px 20px
		color cl_green
	
	.input_group
		margin-bottom 5px
		font-size 0
		> *
			display inline-block 
			vertical-align top
			width 48%
			&:nth-child(2)
				margin-left 4%
		
	.checkbox_holder
		margin-top 12px
		margin-bottom 17px
		label 
			color white
			a
				color white

	.submit_btn
		line-height 3 
		max-height 72px
		margin 0 auto
		font-size 24px
	
	.custom_dropdown
		margin-top 0px
		.dd_label
			font-size 16px
			.dd_label_sign
				font-size 14px
		.dd_options	
			background white
			max-height 0px
			overflow hidden
			position absolute
			width 100%
			li 
				font-size 16px
		
		
	.material_input
		position relative
		margin-bottom 20px
		label 
			position absolute 
			z-index 10
			bottom 10px
			color white
			transition all .3s
			font-size 14px
		input[type="text"] 
		input[type="password"]
			background none
			border-bottom 1px solid 
			color white
			padding-left 0
			transition all .3s
			margin-bottom 0
			padding-bottom 9px
		&.focused
			label 
				font-size 10px
				bottom 34px
			input[type="text"] 
			input[type="password"]
				color green	
				

	.checkboxes
		margin-bottom 25px
		input[type="checkbox"] 
			display none
		input[type="checkbox"] ~ label
			font-size 14px
			padding-top 2px
		input[type="checkbox"] ~ label span 
			display inline-block
			width 20px
			height 20px
			left 10px
			margin -3px 15px 0 0px
			vertical-align middle
			background-size cover
			background-image url('../img/chb_un.png')
			cursor pointer
		input[type="checkbox"] ~ label p
			display inline-block
			margin 0
			padding 0
			width calc( 100% - 40px)
	 	input[type="checkbox"]:checked ~ label span 
			background-image url('../img/chb_ch.png')
				
	.form_part
		.input_group
			.checkbox_holder:nth-child(2)
				input[type="checkbox"] ~ label span 
					margin-top -18px
