.lang_arabic	
	.login_form
		text-align right
		direction rtl
		&.dashboard_page
			direction rtl
	

.lang_arabic	
	.vouchers_info
		.info_descr
			&:first-child
				border-left 1px solid white
				border-right 0
.lang_arabic		
	.voucher_info
		background white
		margin-bottom -50px
		padding 40px 20px
		box-sizing border-box
		position relative
		transition all .3s
		height 100%
		&.invisible
			opacity 0
			z-index -1000
			height 0
			overflow hidden
		.voucher_number
			font-size 16px
			font-weight 800
			color #009a44
			margin-bottom 30px
		.info_list
			li 
				display inline-block
				vertical-align top
				margin-bottom 10px
				&:not(:last-child)
					margin-left 20px
					margin-right 0
				.info_heading
					font-size 14px 
					font-weight 800
					text-transform capitalize
				.info_text
					font-size 12px
		p 
			margin 0
	.close_button
		position absolute
		font-size 14px
		left 20px
		right initial
		top 15px
		cursor pointer
		direction rtl
		
	
@media(min-width: 1210px)
	
	.admin_page
		text-align right
		.rp_menu_container
			max-width 350px
			a 
				font-weight 100!important
				
	.error_redeem
	.error_invalid
		.input_group_full_width
		.submit_btn
			display none
		
	.login_form
		.error_messages
			margin-top -20px	
			position relative
			margin-bottom 55px
			display block
			.voucher_redeemed
			.voucher_invalid
				position absolute		
				color #ad0000	
				font-size 12px
				opacity 0
		&.error_redeem
			.voucher_redeemed
				opacity 1
		&.error_invalid
			.voucher_invalid
				opacity 1
				



