.form_heading
	font-family MT
	color white
	font-size 30px
	text-align center
	margin-bottom 8px
	

header 
	.rp_menu_container
		>a 
			text-decoration underline
	
.vouchers_info
	color white
	font-size 0 
	margin-bottom 30px
	.info_descr
		box-sizing border-box
		font-size 15px
		display inline-block
		vertical-align top
		width 50%
		text-align center
		&:first-child
			border-right 1px solid white
		p 
			margin 0
			&.number
				font-size 50px
				color #009a44
				
.black_overlay
	background rgba(0, 0, 0, .8)
	width 100%
	min-height 100vh
	height 100%

.custom_dropdown.datalist
	.dd_label
		input
			font-size 16px
			width 100%
			padding-left 0
			background none
			z-index 100
		
.dd_options
	&.visible
		z-index 1000
		
.login_form
	width 80%
	max-width 510px
	background black
	position:  absolute
	left 0 
	right 0
	margin 0 auto
	top 50%
	transform translateY(-50%)
	padding 30px 0 50px 0
	&.dashboard_page
		padding-bottom 0
		form 
			padding-bottom 30px
	img 
		max-width 190px
		margin 0 auto 20px auto
		display block
	form 
		width 80%
		max-width 380px
		margin 0 auto
		.material_input 
			margin-bottom 30px
		a
			display block
			width 100%
			border-radius 0
			margin-top 55px
.voucher_info
	background white
	margin-bottom -50px
	padding 40px 20px
	box-sizing border-box
	position relative
	transition all .3s
	height 100%
	&.invisible
		opacity 0
		z-index -1000
		height 0
		overflow hidden
	.voucher_number
		font-size 16px
		font-weight 800
		color #009a44
		margin-bottom 30px
	.info_list
		li 
			display inline-block
			vertical-align top
			margin-bottom 10px
			&:not(:last-child)
				margin-right 20px
			.info_heading
				font-size 14px 
				font-weight 800
				text-transform capitalize
			.info_text
				font-size 12px
	p 
		margin 0
		
.close_button
	position absolute
	font-size 14px
	right 20px
	top 15px
	cursor pointer
	
@media(min-width: 1210px)
	
	.admin_page
		text-align right
		.rp_menu_container
			max-width 350px
			a 
				font-weight 100!important
				
	.error_redeem
	.error_invalid
		.input_group_full_width
		.submit_btn
			display none
		
	.login_form
		.error_messages
			margin-top -20px	
			position relative
			margin-bottom 55px
			display block
			.voucher_redeemed
			.voucher_invalid
				position absolute		
				color #ad0000	
				font-size 12px
				opacity 0
		&.error_redeem
			.voucher_redeemed
				opacity 1
		&.error_invalid
			.voucher_invalid
				opacity 1
				



