@font-face
	 font-family MT
	 font-style normal
	 src url('../fonts/mtrial.otf') format('truetype') 
	 
cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333


// header
.lang_arabic
	header
		direction rtl
				
.lang_arabic	
	.lang
		display block
		margin 9px auto
		text-align center
		direction rtl
		.lang_icon
		.lang_text		
			display inline-block
			vertical-align middle
			color white
			transition all .3s
		.lang_icon
			display none
			margin-left 10px
	
.lang_arabic		
	header 	
		.left_part_container
		.right_part_container
			background cl_green
			width 80px
			height 40px
			position absolute
		.right_part_container
			left 0px!important
			right calc(100% - 80px)
			top 0
		.right_part_container
			&:before
				background-size cover
				background-repeat no-repeat 
				background-image url(../img/nav_left_arrow.png)
				content ""
				display block
				height 40px
				position absolute
				right -17px
				left initial
				top 0
				width 17px
		.left_part_container
			right 0px
			top 0
		.left_part_container
			&:after
				background-size cover
				background-repeat no-repeat
				background-image url(../img/nav_right_arrow.png)
				content ""
				display block
				height 40px
				left -17px
				right initial
				top 0
				position absolute
				width 17px

.lang_arabic
	.logo_container
		display block 
		margin 0 auto
		width 140px
		img
			position relative
			width 100%
			
.lang_arabic
	.page_content.left_alignment
		text-align left!important
		direction ltr!important
		*
			text-align left!important
			direction ltr!important
			
// footer
.lang_arabic	
	footer
		background-image url(../img/footer_bg_arabic.png)

@media(min-width: 1210px)
	.lang_arabic
		.lang
			margin 20px auto

	// header
	.lang_arabic
		.menu_button
			display none


	.lang_arabic	
		header 	
			.left_part_container
			.right_part_container
				top 10px
				width calc(50% - 295px)
				position absolute
				height 64px
			.left_part_container
				&:after
					height 64px
					left -26px
					width 26px
			.right_part_container
				right calc(50% + 295px)
				&:before
					height 64px
					right -26px
					width 26px
		
	.lang_arabic
		.logo_container
			display block 
			margin -10px auto 0 auto
			width 190px
			img
				position relative
				width 100%

	.lang_arabic		
		.lang
			.lang_icon
				display inline-block

	// footer	
	.lang_arabic	
		footer
			direction rtl
			background-image url(../img/footer_pc_arabic_bg.png)
			background-repeat no-repeat
			background-size cover
			box-sizing border-box
			text-align left
			.grid_container
				padding-top 55px
				a 
					display inline-block
					color white
					text-decoration none
					font-size 12px
					transition all .3s
					&:hover
						transition all .3s
						color cl_yellow
				p 
					color white
					font-size 12px
	
@import "about_arabic.styl"
@import "contact_arabic.styl"
@import "form-rules_arabic.styl"
@import "login_page_arabic.styl"
@import "question_arabic.styl"







