@font-face
	 font-family MT
	 font-style normal
	 src url('../fonts/ManusTrial.ttf') format('truetype') ,
	 url('../fonts/ManusTrial.otf') format('opentype') ,
	 url('../fonts/ManusTrial.eot') format('eot') ,
	 url('../fonts/ManusTrial.woff') format('woff') 
     
@font-face
	 font-family PTSans
	 font-style normal
	 src url('../fonts/PTSans.ttf') format('truetype') ,
	 url('../fonts/PTSans.otf') format('opentype') ,
	 url('../fonts/PTSans.eot') format('eot') ,
	 url('../fonts/PTSans.woff') format('woff') 
	 
cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333


// commons
.hide
	opacity 0!important
	max-height 0!important
	overflow hidden!important
	transition all .3s!important
	margin 0!important
	padding 0!important
	
ul
	margin 0
	padding 0
	list-style none
	a 
		color cl_grey
		text-decoration none	

html
	background-image url(../img/blured_bg.png)
	background-repeat no-repeat
	background-size cover
	
html
body
	box-sizing border-box
	height 100%
	margin 0
	font-family Arial
	font-weight 400
	
.bold
	font-weight 800
.italic 
	font-style italic 
.green
	color cl_green

.green_heading
	color  cl_green
	font-size 38px
	font-family MT
	padding 0
	margin 0

.content_container
	box-sizing border-box
	padding-top 15px
	min-height 100%
	margin-bottom -95px
	
.push
	height 144px

.content_container_landing
	background-image url(../img/landing_bg.png)
	background-repeat no-repeat
	background-size cover
	&.blured_bg
		background-image url(../img/mobile_blured_bg.png)
	&.no_bg
		background-image url(../img/landing_bg.png)
		background-color rgba(0, 0, 0, .8)
	&.small_bg
		background-image url(../img/small.png)
		background-position top
		background-size 100%
	

// header
header
	position relative
	&.menu_shown
		.menu_button
			z-index 200
			span 
				background cl_green
			span:nth-child(1)
				transform rotate(-45deg)
				margin-top 11px
			span:nth-child(2)
				opacity 0
			span:nth-child(3)
				transform rotate(45deg)
				margin-top -20px
				
.phone_number
	text-align center
	background cl_green
	border-bottom 2px solid cl_yellow
	padding 15px 0
	p 
		margin 0 
		padding 0
		color white
		font-weight 800
		&:first-child
			color cl_yellow
			font-weight 400
		
.lang
	display block
	margin 9px auto
	text-align center
	.lang_icon
	.lang_text		
		display inline-block
		vertical-align middle
		color white
		transition all .3s
	.lang_icon
		display none
		margin-right 10px
		
.menu_shown
	.left_part_container
		.lang
			.lang_text			
				color cl_green
				z-index 1000
				position relative
		
.menu_button
	cursor pointer
	display block
	height 30px
	width 40px
	margin-left 10px
	padding 9px 10px 0px 16px
	position absolute
	right 0
	z-index 300
	span 
		background white
		display block
		width 80%
		height 3px
		margin 0 0 7px 0
		opacity 1
		transform rotate(0deg)
		transition all .3s


.left_part_container
.right_part_container
	background cl_green
	width 80px
	height 40px
	position absolute
	
.left_part_container
	left 0
	top 0

.left_part_container
	&:after
		background-size cover
		background-repeat no-repeat
		background-image url(../img/nav_left_arrow.png)
		content ""
		display block
		height 40px
		left 80px
		top 0
		position absolute
		width 17px
	
.right_part_container
	right 0
	top 0
	
.right_part_container
	&:before
		background-size cover
		background-repeat no-repeat 
		background-image url(../img/nav_right_arrow.png)
		content ""
		display block
		height 40px
		position absolute
		right 80px
		top 0
		width 17px
		

.menu_shown
	.rp_menu_container
		opacity 1
		transform translateX(-0px)
		
.rp_menu_container
	background rgba(255, 255, 255, .95)
	height 100%
	top 0
	left 0
	opacity 0
	padding-top 70px
	position fixed
	transform translateX(-1000px)
	transition all .3s
	width 100%
	z-index 100
	padding-left 0
	>a 
		color cl_green 
		background #f1f1f1
		cursor pointer
		display block
		font-size 18px
		line-height 2.5
		font-weight 600
		padding 15px 0 
		text-align center
		text-decoration none
		transition all .3s 
		width 100%
		margin-bottom 5.5px
		&:hover
			background #f1f1f1
			color cl_green 
	.link_with_icon
		.link_text
		.link_icon
			display inline-block
			vertical-align middle
		.link_icon
			background-image url(../img/f_g.png)
			background-size cover
			background-repeat no-repeat
			transition all .3s
			width 19px
			height 19px
		// &:hover
		// 	.link_icon
		// 		background-image url(../img/f_w.png)
			
.terms_policy
	margin-top 40px
	text-align center
	a 
		display block	
		text-decoration none
		font-weight 600
		color cl_green
		font-size 18px
		margin-bottom 5px	
		line-height 3

.logo_container
	display block 
	margin 0 auto
	width 105px
	img
		position relative
		width 100%

// main content
main
	color white
	font-family Arial
	font-size 17px
	text-align center
	padding 0 40px
	max-width 320px
	margin 40px auto
	img 
		width 130px
		display block
		margin 0 auto
	p 
		line-height 1.5
		margin-bottom 10px
		span 
			color cl_yellow

.main_middle_aligned
	position absolute
	left 0 
	right 0
	top calc(50% - 100px)
	transform translateY(-50%)

// footer	
footer
	background-image url(../img/footer_bg.png)
	background-repeat no-repeat
	background-size cover
	box-sizing border-box
	color cl_grey
	font-family "PTSans"
	padding 50px 20px 10px
	color white
	text-align center
	font-size 12px
	a 
		display none
		transition all .3s
		&:hover
			transition all .3s
			color cl_yellow

.map_links
	line-height 1.3
	margin 15px 0

.foo_copyright
.foo_phone
	display block
	margin-bottom 8px
	
.foo_phone
	color cl_grey
	text-decoration none
	
.social_links
	margin-top 10px
	font-size 0
	li 
		background-image url(../img/icons_g.png)
		background-repeat no-repeat
		cursor pointer
		display inline-block
		height 20px
		margin-right 10px
		width 27px
		&.f_icon
			background-position 8px 1px
		&.f_twitter
			background-position -34px 1px
		&.f_instagram
			background-position -78px 1px
		&.f_youtube
			background-position -125px 1px
	&.social_links_white
		padding-left 23px
		li 
			background-image url(../img/icons_w.png)
			&.f_icon
				background-position 3px 1px
			&.f_twitter
				background-position -41px 1px
			&.f_instagram
				background-position -82px 1px
			&.f_youtube
				background-position -121px 2px
		
.common_button
	border 2px solid cl_green
	border-radius 5px
	box-sizing border-box
	color white
	cursor pointer
	display block
	font-weight 800
	line-height 4
	margin 0 auto
	max-height 65px
	overflow hidden
	text-align center
	text-align cente
	width 260px
	transition all .3s
	text-decoration none
	&:hover
	&:focus
	&:active
		background cl_green

@media(min-width: 1210px)

	.content_container_landing
		&.blured_bg
			background-image url(../img/blured_bg.png)
		&.no_bg
			background-image none
			background-color rgba(0, 0, 0, .8)

	.lang
		margin 20px auto

	.content_container
		box-sizing border-box
		padding-top 30px
		min-height 100%
		margin-bottom -113px

	.green_heading
		font-size 99px

	.push
		height 113px 
		
	// header
	.menu_button
		display none


	.left_part_container
	.right_part_container
		top 10px
		width calc(50% - 295px)
		position absolute
		height 64px
		
	.left_part_container
		&:after
			height 64px
			left 100%
			width 26px
		
	.right_part_container
		&:before
			height 64px
			right 100%
			width 26px
			

	header
		.rp_menu_container
			opacity 1
			transform translateX(-0px)
			background none
			height 100%
			top 0
			left 0
			margin 0
			padding-top 0px
			position relative
			transition all .3s
			width 100%
			z-index 100
			>a 
				background none
				color white 
				cursor pointer
				display inline-block
				vertical-align top!important
				font-size 16px
				padding 14px 0 0 0
				text-align center
				text-decoration none
				transition all .3s
				height 50px
				max-height 50px
				width 80px
				-webkit-transform skew(-18deg)
				-moz-transform skew(-18deg)
				-o-transform skew(-18deg)
				margin-right 18px
				&:hover
					background cl_yellow
					color cl_green
				&.link_with_icon
					vertical-align top!important
					.link_icon
						background-image url(../img/f_w.png)
						display block
						margin 9px auto 0 auto
						padding 0
					.link_text
						display none
						margin 0 0 0
						padding 0
					&:hover
						.link_icon
							background-image url(../img/f_g.png)
				span 
					display block
					-webkit-transform skew(18deg)
					-moz-transform skew(18deg)
					-o-transform skew(18deg)
				&.active
					background cl_yellow
			>ul
				margin 0 0 0 15px
				display inline-block 
				vertical-align middle
				&.social_links_white
					position relative
					padding-left 0px
					margin-left 16px
	
	.terms_policy
	.phone_number
		display none

	.logo_container
		display block 
		margin -10px auto 0 auto
		width 190px
		img
			position relative
			width 100%

			
	.lang
		.lang_icon
			display inline-block

	// main content
	// main content
	main
		color white
		font-family Arial
		font-size 20px
		text-align center
		padding 0 40px
		max-width none
		margin 0px auto
		max-width 450px
		img 
			width 240px
		p 
			span 
				color cl_yellow

	.common_button
		border 2px solid cl_green
		border-radius 0px
		box-sizing border-box
		color white
		cursor pointer
		display block
		font-weight 800
		line-height 1
		margin 0 auto
		height 77px
		max-height none
		overflow hidden
		text-align center
		text-align cente
		width 370px
		transition all .3s
		font-size 25px
		padding-top 23px

	.main_middle_aligned
		position absolute
		left 0 
		right 0
		top 51%
		transform translateY( calc( -50% + 34px ) ) 

	// footer	
	footer
		box-sizing border-box
		color cl_grey
		padding 17px 20px
		background-image url(../img/footer_pc_bg.png)
		background-repeat no-repeat
		background-size cover
		box-sizing border-box
		height 113px
		text-align right
		.grid_container
			padding-top 55px
			a 
				display inline-block
				color white
				text-decoration none
				vertical-align top
				font-size 12px
				transition all .3s
				&:hover
					transition all .3s
					color cl_yellow
			p 
				display inline-block
				vertical-align top
				color white
				font-size 12px
				
	.grid_container
		display block
		max-width 1200px
		margin 0 auto
		position relative
		width 100%
	
	.map_links
		line-height 1.3
		margin 15px 0

	.foo_copyright
	.foo_phone
		display block
		margin-bottom 8px
		
	.foo_phone
		color cl_grey
		text-decoration none
		padding 0 30px
		
	.social_links
		margin-top 10px
		font-size 0
		
	.foo_left
	.map_links li
	.map_links
	.foo_copyright
	.foo_phone
	.social_links
		display inline-block
		vertical-align middle
		margin 0
		
	.map_links
		li
			margin 0 10px
			padding 0 10px
		li:nth-child(2)
			border-left 1px solid cl_grey
			border-right 1px solid cl_grey
			padding 0 20px

@media(min-width 1350px)
	header
		.rp_menu_container
			>a 
				width 100px

@import "question.styl"
@import "analyze.styl"
@import "thank-you.styl"	
@import "about.styl"	
@import "main_arabic.styl"	
		
