.lang_arabic
	.question_progress
		width 300px
		margin 30px auto 0px auto
		color cl_green
		direction rtl
		p 
			direction rtl

.lang_arabic			
	.question_right_answers
		direction rtl
		li
			&:nth-child(odd)
				margin-left 10px
				margin-right 0
	
.lang_arabic				
	.buttons_container
		.first_no_answer
			direction rtl
		
@media(min-width: 1210px)	
	.lang_arabic
		.question_progress
			width 555px
			margin 35px auto 0 auto
			p
				font-size 12px