cl_yellow = #ffe500
cl_green = #009a44
cl_green_o = rgba(0, 154, 68, .5)
cl_grey = #333333
	
.question_progress
	width 300px
	margin 30px auto 0px auto
	color cl_green
	.question_progress_bar
		background white
		height 3px
		width 100%
		.question_progress_bar_progress
			width 20%
			background cl_green
			height 3px
			transition all .3s
			&.q2
				width 40%
				&.q3
					width 60%
					&.q4
						width 80%
						&.q5
							width 100%

.question_part
	color white 
	dislay block 
	max-width 300px
	margin 0 auto
	text-align center
	
.question_right_text
	font-family MT
	font-size 24px
	
.question_explanation
	font-size 20px
	color cl_yellow
	
.question_explanation_small
	opacity 0
	transition all .3s
	height 0
	font-size 12px
	color #ad0000
	margin-top 5px
	margin-bottom 20px
	.more_naswers
	.less_naswers
		display none
	
.wrong_click_less
	.question_explanation_small
		opacity 1
		height 14px
		.less_naswers
			display block
			
.wrong_click_more
	.question_explanation_small
		opacity 1
		height 14px
		.more_naswers
			display block
	
.question_part
	max-height 0
	overflow hidden
	opacity 0
	
.question_part.visible
	max-height 450px
	overflow hidden
	opacity 1
	margin-top 10px
	margin-bottom 0px
	
	
.question_right_answers
	margin 20px 0 0 0
	font-size 0
	li
		display inline-block
		vertical-align top
		margin-top 15px
		margin-bottom 0
		&:nth-child(odd)
			margin-right 10px
		label
			font-size 15px
			
.questions_container
	background black
	box-sizing border-box
	max-width 300px
	margin 0 auto
	padding 0 10px
	padding-bottom 15px
	padding-top 1px
	.question_explanation
		font-size 17px
	
.questions_container input[type="checkbox"] 
	display none

.questions_container input[type="checkbox"] ~ label
	padding-top: 2px
	box-sizing border-box
	background-position calc(100% - 5px) 5px
	display block
	border 1px solid cl_green
	height 50px
	padding-top 15px
	width 135px
	transition all .3s
	cursor pointer

.question_part
	.question_right_answers
		li.q4_1
			input[type="checkbox"] ~ label
				background url(../img/q4_1.png)
				background-repeat no-repeat
				background-position center!important
				position relative
				img
					position absolute 
					right 5px
					top 5px
					opacity 0
					transition all .3s
					width 20px
					height 20px
			input[type="checkbox"]:checked ~ label
				background-image url(../img/q4_1.png)
				background-size initial
				img
					opacity 1
					transition all .3s
			&:hover
				input[type="checkbox"] ~ label
					background-image url(../img/q4_1_g.png)
				input[type="checkbox"]:checked ~ label
					background-image url(../img/q4_1.png)
					background-size initial
		li.q4_2
			input[type="checkbox"] ~ label
				background-image url(../img/q4_2.png)
				background-repeat no-repeat
				background-position center!important
				position relative
				img
					position absolute 
					right 5px
					top 5px
					opacity 0
					transition all .3s
					width 20px
					height 20px
			input[type="checkbox"]:checked ~ label
				background-image url(../img/q4_2.png)
				background-size initial
				img
					opacity 1
					transition all .3s
			&:hover
				input[type="checkbox"] ~ label
					background-image url(../img/q4_2_g.png)
				input[type="checkbox"]:checked ~ label
					background-image url(../img/q4_2.png)
					background-size initial
					
		

.questions_container .label_images input[type="checkbox"] ~ label
	height 65px
	padding-top 15px
	background-size 50px!important
	&:hover
		color cl_green

.questions_container input[type="checkbox"] ~ label
	&:hover
		color cl_green
		
.questions_container input[type="checkbox"]:checked ~ label 
	background cl_green
	&:hover
		color white
	
.questions_container .question_part.question_sign	
	input[type="checkbox"]:checked ~ label 
		background cl_green
		background-image url(../img/check_arrow.png)
		background-repeat no-repeat
		background-size 13px
		background-position calc(100% - 5px) 5px

.buttons_container
	box-sizing border-box
	background blacl
	margin 0 auto
	width 100%
	max-width 300px
	transition opacity .3s
	.first_no_answer
		background white
		padding 25px
		p 
			margin-top 0
		img
			display block
			margin 0 auto
			width 113px
	.next_button
		color white
		cursor pointer
		display block
		text-align center
		text-decoration none
		background cl_green
		line-height 3
		margin 0
		width 100%
		transition all .3s
		&:hover
			opacity .9
	
.next_button
	z-index 100
	&.active
		background cl_green!important
		color white!important
	
.buttons_container.hidden
	opacity 0
	height 0
	overflow hidden
	
.buttons_container.next_link
	.first_no_answer
		max-height 0
		padding 0
		opacity 0
		box-sizing border-box
		overflow hidden
	.next_button
		color white
		background #252525
		border 0
		&:hover
			background #282828
			opacity 1
			

@media(min-width: 1210px)	

	.question_progress
		width 555px
		margin 35px auto 0 auto
		p
			font-size 12px

	.question_part
		color white 
		dislay block 
		max-width 555px
		margin 0 auto
		text-align center
		
	.question_right_text
		font-family MT
		font-size 30px
		line-height 1
		padding 0
		margin 0 0 20px 0
		br 
			display none
		
	.question_explanation
		font-size 18px
		color cl_yellow
		
	.question_explanation_small
		opacity 0
		margin-bottom 25px
		
	.question_part
		max-height 0
		overflow hidden
		opacity 0
		
	.question_part.visible
		max-height 555px
		overflow hidden
		opacity 1
		margin-top 20px
		margin-bottom 0px
		
		
	.question_right_answers
		margin 25px 0 0 0
		font-size 0
		li
			display inline-block
			vertical-align top
			margin-top 15px
			margin-bottom 0
			&:nth-child(odd)
				margin-right 10px
			label
				font-size 16px
		
	.questions_container
		max-width 555px
		padding  10px 45px 60px 45px
		 
	.questions_container input[type="checkbox"] 
		display none

	.questions_container input[type="checkbox"] ~ label
		padding-top: 2px
		box-sizing border-box
		background-position calc(100% - 5px) 5px
		display block
		border 1px solid cl_green
		height 67px
		padding-top 24px
		width 205px
		transition all .3s
		cursor pointer


	.questions_container .label_images input[type="checkbox"] ~ label
		height 65px
		padding-top 41px
		height 140px
		background-size 90px!important
		img
			position relative
			height calc(100% - 40px)

	.questions_container input[type="checkbox"]:checked ~ label 
		background cl_green
		
	.questions_container .question_part.question_sign	
		input[type="checkbox"]:checked ~ label 
			background cl_green
			background-image url(../img/check_arrow.png)
			background-repeat no-repeat
			background-size 20px
			background-position calc(100% - 5px) 5px

	.buttons_container
		box-sizing border-box
		background white
		margin 0px auto 0 auto
		width 555px
		max-width 555px
		transition opacity .3s
		.first_no_answer
			padding 25px
			p 
				display inline-block
				vertical-align middle
				margin-top 0
				position relative
				width calc(100% - 103px)
				line-height 1.3
				font-size 16px
				z-index 10
			img
				display inline-block
				vertical-align middle
				width 93px
				z-index 5
		.next_button
			color white
			cursor pointer
			display block
			text-align center
			text-decoration none
			background cl_green
			line-height 3.4
			font-size 20px
			font-weight 800
			margin 0
			width 100%
			transition all .3s
			&:hover
				opacity .9
		
	.buttons_container.hidden
		opacity 0
		height 0
		overflow hidden
		
	.buttons_container.next_link
		.first_no_answer
			max-height 0
			padding 0
			opacity 0
			box-sizing border-box
			overflow hidden
		.next_button
			color white
			background #252525
			border 0
			&:hover
				background #282828
				opacity 1
				
			