ul
	list-style disc
	padding-left 20px
	margin-top 40px
	max-height none
	li 
		line-height 1.5
		font-size 18px
		margin-bottom 10px
		b
			font-weight 800
		a
			text-decoration underline
			transition all .3s
			&:hover
				color cl_green
	&.legal_notice
		list-style none
		padding-left 0
		li 
			margin-bottom 0
			font-size 16px
			&:first-child
				color #2469b7
			&:nth-child(2)
				color #009a44
	
.text_heading
	display block
	font-weight 800
	

.lang_arabic
	ul
		direction rtl
		li 
			text-align right
	