.top_margin-thank_you
	margin-top 40px

.thank_you_ub_sign
.thank_you_mark
	color white
	
.thank_you_sign
	font-size 43px
	color cl_green
	font-family MT
	padding-top 10px
	margin-bottom 10px
	line-height 1

.thank_you_content
	text-align center
	
.thank_you_ub_sign
	font-size 16px
	margin 30px 0
	padding 0 30px

.thank_you_mark
	font-size 14px
	padding 0 30px
	
.tankyou_social
	color white
	margin-top 60px
	font-size 16px	
	height 77px
	background-color cl_green
	overflow hidden
	width 100%
	max-width 280px
	margin 0 auto
	.social_text
	.social_icons
		height 77px
		max-width 370px
		transition all .3s
	.social_text
		padding-top 28px
		font-weight 800
		font-size 20px
	&.social_visible
		.social_text
			margin-top -115px
			transition all .3s
	
.social_icons
	text-align center
	background-color cl_green
	margin 10px auto 0 auto
	padding-top 22px
	font-size 0
	.so_icon
		background-image url(../img/thank_you_soc.png)
		background-repeat no-repeat
		display inline-block
		height 30px
		vertical-align top
		width 30px
		margin 0 25px
		cursor pointer
		&.icon_f
			background2-position 2px 1px
		&.icon_t
			background-position -82px 1px 
		&.icon_i
			background-position -157px 1px 
			
.lang_arabic
	.social_icons
		direction rtl
			
.so_icon
	a
		display block
		height 30px
			
@media(min-width: 1210px)
	.thank_you_content
		text-align center
		
	.thank_you_ub_sign
		font-size 22px
		margin 30px 0

	.thank_you_mark
		font-size 16px
		
	.tankyou_social
		max-width 370px
		.social_icons
			box-sizing border-box
			width 370px
			height 77px
		
			

























			
























			